.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}
.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.content {
  display: flex;
}
.sidebar {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotel-view {
  flex: 1;
  background-color: var(--color-grey-light-1);
}
.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}
.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}
.user-review {
  flex: 1;
}
.footer {
  height: 15rem;
  padding: 3.5rem 0;
  background-color: var(--color-grey-light-1);
  text-align: center;
  margin-bottom: 2rem;
  &__text {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-grey-dark-3);
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}
.btn {
  background: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  position: relative;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border-radius: 100rem;
  overflow: hidden;
  border: none;
  & > * {
    height: 100%;
    width: 100%;
    transition: all 0.2s;
    display: inline-block;
  }
  &__visible {
    padding: 2rem 7.5rem;
  }
  &__invisible {
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem;
  }
  &:hover {
    background: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
  }
  &:hover &__visible {
    transform: translateY(100%);
  }
  &:hover &__invisible {
    top: 0;
  }
  &:focus {
    outline: none;
    animation: pulse 1s infinite;
  }
}
